@import '../../variables'

.cell-done
    text-decoration: line-through

.status-done
    color: $pixit-primary-light-green

.status-progress
    color: $color-blue-500
.action-buttons
    display: flex
    gap: 20px
    align-items: center

.pagination
    display: flex
    align-items: center
    justify-content: flex-end
    margin-top: 20px

.todos-container-error
    display: flex
    gap: 10px
    align-items: center
    background: $color-error-200
    width: fit-content
    padding: 15px 40px
    border-radius: 10px
    color: $color-error-900
    font-size: $font-size-l
    font-weight: $font-weight-bold
    margin-top: 80px